@import url(../products/products-section.css);
@import url(../products/form-section.css);

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

/*Tablet*/
@media screen and (max-width: 768px) {
    section {
        padding: 0px;
    }
}

/*Mobile*/
@media screen and (max-width: 425px) {
    section {
        gap: 32px;
    }
}