.form__product {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 40px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .25);
    overflow: hidden;
}

.form__product .form__title {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--cor-do-texto-preto);
    text-align: center;
}

.form__product .form__group__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
    font-size: 0.875rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: var(--cor-primaria);
}

.form__product .form__group__items .form__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form__product .form__group__items .form__item .form__label {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-do-texto-preto);
}

.form__product .form__group__items .form__item.img .form__img {
    height: 0;
    transition: all .3s ease-in;
}

.form__product .form__group__items .form__item.img .form__img.active {
    display: block;
    position: relative;
    width: 100%;
    height: 10dvh;
    object-fit: contain;
}

.form__product .form__group__items .form__item .form__input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-primaria);
    padding: 16px 8px;
    border: 1px solid var(--cor-do-titulo);
    transition: all .3s ease-in-out;
    outline: 2px solid transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .1);
}

.form__product .form__group__items .form__item .form__input[type=number]::-webkit-inner-spin-button {
    all: unset;
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image:
    linear-gradient(to top, transparent 0px, transparent 16px, #fff 16px, #fff 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
}

.form__product .form__group__items .form__item .form__input::placeholder {
    color: var(--cor-da-label);
    transition: all .3s ease-in-out;
}

.form__product .form__group__items .form__item .form__input:hover {
    cursor: pointer;
    border-color: var(--cor-primaria);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .25);
}

.form__product .form__group__items .form__item .form__input:focus {
    cursor: auto;
    outline-color: var(--cor-primaria);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .25);
}

.form__product .form__group__items .form__item .mensagem-erro {
    margin-left: 8px;
    margin-top: -6px;
    color: var(--cor-de-erro);
}

.form__product .form__group__items .form__buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.form__product .form__group__items button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background: transparent;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.form__product .form__group__items .form_button__submit {
    width: 100%;
    color: var(--cor-do-texto-branco);
    background-color: var(--cor-primaria);
}

.form__product .form__group__items .form_button__reset {
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}

.form__product .form__group__items .form_button__submit:hover {
    background-color: var(--cor-secundaria);
}

.form__product .form__group__items .form_button__reset:hover {
    border-color: transparent;
    color: var(--cor-do-texto-branco);
    background-color: var(--cor-secundaria);
}

/*Tablet*/
@media screen and (max-width: 1240px) {
    .form__product {
        gap: 56px;
        padding: 32px;
    }

    .form__product .form__title {
        font-size: 1.25rem;
    }

    .form__product .form__group__items {
        display: grid;
        grid-template-areas:
            "file name name"
            "file value kg"
            "btns btns btns";
        grid-template-columns: 0.7091fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 32px;
        justify-content: space-between;
    }

    .form__product .form__group__items .form__item .form__input {
        font-size: 0.875rem;
    }

    .form__product .form__group__items .form__item.name {
        grid-area: name;
    }

    .form__product .form__group__items > .form__item.price {
        grid-area: value;
    }

    .form__product .form__group__items > .form__item.kilo {
        grid-area: kg;
    }

    .form__product .form__group__items .form__item.img {
        grid-area: file;
        height: 100%;
    }

    .form__product .form__group__items .form__item.img .form__img {
        position: relative;
        height: 100%;
        background-color: var(--cor-do-titulo);
        transition: all .3s ease-in-out;
    }

    .form__product .form__group__items .form__item.img .form__img::after {
        content: "( Sem imagem )";
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: var(--cor-do-titulo);
    }

    .form__product .form__group__items .form__item.img .form__img.active {
        height: 12dvh;
    }

    .form__product .form__group__items .form__item.img input[type=file] {
        width: 100%;
    }
    
    .form__product .form__group__items .form__buttons {
        margin-top: 8px;
        gap: 24px;
        grid-area: btns;
    }

    .form__product .form__group__items button {
        padding: 14px 8px;
    }

    .form__product .form__group__items .form_button__submit, .form__product .form__group__items .form_button__reset {
        width: 100%;
    }
}

/*Mobile*/
@media screen and (max-width: 475px) {
    .form__product {
        padding: 48px 16px 24px;
    }

    .form__product .form__group__items {
        grid-template-areas:
            "file file file file"
            "name name name name"
            "value value kg kg"
            "btns btns btns btns";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 18px;
    }

    .form__product .form__group__items .form__item.img .form__img {
        height: 0;
    }

    .form__product .form__group__items .form__item.img .form__img.active {
        height: 14dvh;
    }

    .form__product .form__group__items .form__item.img .form__img::after {
        display: none;
    }
    
    .form__product .form__group__items .form__buttons {
        margin-top: 16px;
        gap: 14px;
        flex-direction: column;
    }
}