:root {
    --cor-do-background: #FFFFFF;
    --cor-primaria: #03318C;
    --cor-secundaria: #5300C8;
    --cor-do-background-card: #5D04D9;
    --cor-do-texto-branco: #FFFFFF;
    --cor-do-texto-preto: #070606;
    --cor-do-titulo: #E5E5E5;
    --cor-da-label: #8a8a8f;
    --cor-de-erro: #ff6347;
    --cor-botao-desativado: #d3d3d3;
}